body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Play', sans-serif;
}

header.main {
  background: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg) no-repeat center center fixed;
  background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  height: 100%;
}

.faded {
  color: rgba(255, 255, 255, 0.85); 
}

.btn {
  font-weight: 600;
  border-radius: 30px;
  text-transform: uppercase;
}

.btn-light:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

#register {
  margin-top: 30px;
}